@mixin media() {
    @media (max-width: 940px) {
        @content;
    }
}

.review {
    height: 100%;

    .heading {
        font-family: 'Benne', serif;
        justify-content: center;
        text-align: center;
        margin-right: 1%;
        color: #010B13;
        font-size: 48px;

        @include media {
            font-size: 16px;
        }

        .review-image {
            position: absolute;
            top: 10%;
        }
    }

    .review-content {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 300px auto;
        width: 100%;

        @include media {
            grid-template-columns: 1fr;
            grid-template-rows: 40px auto;
            margin: 5px;
        }

        .review-image {

            width: 200px;
            height: auto;

            transform: scale(1);
            transition: transform 0.1s ease-in-out,opacity 0.5s ease-in-out;

            @include media {
                display: none;
            }
        }

        // This is a very makeshift solution to solving the grid formatting problem, but it works
        .mobile-only-div {
            display: none;
            @include media {
                display: contents;
                color: #F8F7F9;
            }
        }

        .content-body {
            font-family: 'Inconsolata', monospace;
            font-size: 24px;
            color: black;
            margin-top: 50px;
            padding: 0 10px;
            text-align: left;

            @include media {
                border: none;
            }
        }  
    } 
}