@mixin media() {
    @media (max-width: 768px) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
        
    .main {
        .header {
            height: 20%;
            text-align: center;
            background-color: aquamarine;
        }

        .hot-now-section {
            height: 20%;
            background-color: beige;

            .hot-now-items-container {
                background-color: red;
            }
        }

        .about-me {
            background-color: bisque;

            .about-me-button {
                color:black;
            }
        }
        
        .search {
            background-color: blueviolet;
        }
        
        .bookshelf-container {
            margin-top: 50px;
            margin-bottom: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        
            .bookshelf {
                display: grid;
                justify-content: center;
                align-content: center;
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: auto;
                grid-gap: 3%;
                grid-row-gap: 10%;
                width: 95%;
                height: 60%;
                padding: 2%;

                @include media {
                    grid-template-columns: repeat(3, 1fr);
                    padding-top: 20%;
                }
        
                .book {
                    position: relative;
                    z-index: 1;
                    width: 90%;
                    height: 5%;
                    padding-bottom: 150%;
                    perspective: 1000px;
            
                    .book-cover {
                        position: absolute;
                        z-index: 1;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        
                        background-size: cover;
                        perspective-origin: 50% 50%;
                        transform-style: preserve-3d;
                        transform-origin: top center;
                        will-change: transform;
                        transform: skewX(0.01deg);
                        transition: transform 0.35s ease-in-out;
                    }

                    .book-cover:after {
                        transform: translatey(-20%);
                        will-change: transform;
                        transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
                    }
                }

                .book:hover .book-cover {
                    transform: rotateX(7deg) translateY(-6px);
                }

                .book:hover .book-cover:after {
                    transform: translateY(0%);
                }

                .book:hover:before {
                    opacity: 0.6;
                    transform: rotatex(7deg) translatey(-6px) scale(1.05);
                }

                .book:before {
                    display: block;
                    content: "";
                    position: absolute;
                    top: 5%;
                    left: 5%;
                    width: 90%;
                    height: 90%;
                    background: rgba(0, 0, 0, 0.1);
                    box-shadow: 0 6px 12px 12px rgba(0, 0, 0, 0.3);
                    will-change: skewx(0.001deg);
                    transition: transform 0.35s ease-in-out,opacity 0.5s ease-in-out;
                }
            }   
        }
    }
}