.hot-now-section {
    font-family: 'Inconsolata', monospace;
    margin-left: 10%;
    margin-bottom: 2%;


    .hot-now-title {
        margin-left: 2%;
        font-size: 24px;
        font-weight: 600;
        color: black;
    }

    .hot-now-subtitle {
        padding-bottom: 1%;
        font-size: 18px;
        color: #A44A3F;
    }

    p {
        padding-bottom: 1%;
        font-size: 18px;
        color: black;
    }

    .hot-now-items-container {
        
        margin-left: -5%;

        .hot-now-item {
            position: relative;
            width: fit-content;
            margin-bottom: 1px;
            box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
            transform: scale(1);
            transition: transform 0.1s ease-in-out,opacity 0.5s ease-in-out;
            cursor: pointer;
            overflow: hidden;
        }

        .hot-now-item:hover {
            transform: scale(1.01);
            transition: transform 0.1s ease-in-out,opacity 0.5s ease-in-out;
        }
    }
}