@mixin media() {
    @media (max-width: 940px) {
        @content;
    }
}

.info-box {
    font-family: 'Inconsolata', monospace;
    padding: 35% 0;
    font-size: 22px;

    @include media {
        padding: 0 0;
    }
}

